<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hangman Game</title>
  </head>
  <body>
    <h1>Welcome to Hangman Game</h1>
    <p>Guess the word: <%= puzzle %></p>
    <% if (status === "playing") { %>
      <form action="/make-guess" method="post">
        <label for="guess">Make a guess:</label>
        <input type="text" id="guess" name="guess" maxlength="1" required>
        <button type="submit">Guess</button>
      </form>
      <p>Remaining guesses: <%= remainingGuesses %></p>
    <% } else if (status === "failed") { %>
      <p>You failed. The word was <%= word %>.</p>
      <form action="/" method="get">
        <button type="submit">Play Again</button>
      </form>
    <% } else if (status === "succeeded") { %>
      <p>Congratulations! You guessed the word <%= word %>.</p>
      <form action="/" method="get">
        <button type="submit">Play Again</button>
      </form>
    <% } %>
  </body>
</html>
