<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Instructions - Hangman Game</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<h1>Instructions</h1>
	<p>The game is simple:</p>
	<ol>
		<li>A word will be chosen at random from the dictionary.</li>
		<li>Guess the letters in the word one by one.</li>
		<li>You have 6 chances to make a wrong guess before the game is over.</li>
	</ol>
	<a href="/">Back to Home</a>
</body>
</html>
