<!DOCTYPE html>
<html>

<head>
    <title>Hangman Game</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>Hangman Game</h1>
    <div>
        <h3>Guess the word: </h3>
        <p><%= gameData.dashedWord %></p>
        <p><%= gameData.guessesLeft %> guesses left</p>
        <form action="/play" method="POST">
            <label for="guess">Enter your guess:</label>
            <input type="text" id="guess" name="guess" maxlength="1" required>
            <button type="submit">Guess</button>
        </form>
    </div>
    <br>
    <a href="/submitWord">Submit a new word</a>
</body>

</html>
