<!DOCTYPE html>
<html>
  <head>
    <title>Hangman Game</title>
  </head>
  <body>
    <h1>Hangman Game</h1>
    <form action="/play" method="post">
      <label for="username">Enter your username:</label>
      <input type="text" id="username" name="username"><br><br>
      <button type="submit">Start Game</button>
    </form>
  </body>
</html>
