<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hangman - Submit Word</title>
  <link rel="stylesheet" href="/public/style.css">
</head>

<body>
  <h1>Hangman</h1>
  <h2>Submit Word</h2>
  <form action="/submit-word" method="post">
    <label for="word">Enter a word to add to the game:</label><br>
    <input type="text" id="word" name="word"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>
