<!DOCTYPE html>
<html>
    <head>
        <title>Hangman Add Word</title>
    </head>

    <body>
        <h1>Add a word to hangman</h1>
        <form method="post" action="/submit-word">
            <label>Enter A Word</label><br>
            <input type="text" name="wordName" placeholder="Enter word..." required>
            <input type="submit" value="Add Word">
        </form>
    </body>
</html>